{% extends 'base.html' %}

{% block title %}
    
{% endblock title %}

    
{% block css %}
<style>
    input{
        width: 100%;
        height: 40px;
    }
    </style>
{% endblock css %}

{% block body %}

<div class="container mt-5" style="min-height: 100vh;">
    <h1>Update your Info</h1>
    <form action="" method="POST">
        {{forms.as_p}}
        <input type="submit" value="Update" class="btn btn-primary">
    </form>
</div>
{% endblock body %}
    

{% block js %}
    
{% endblock js %}